{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear post</title>
    <link rel="stylesheet" href="{% static 'css/styleCreateForm.css' %}">
</head>
<body>
    <div class="container">
        <h1>Crear nuevo post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Crear Post</button>
        </form>
    </div>
</body>
</html>