{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/postListStyle.css' %}">
</head>
<body>
    <div class="container">
        <div>
            <a href="{% url 'createPost' %}">
                <button>Añadir Post</button>
            </a>
        </div>
        <h1>Lista de Posts</h1>
        {% if posts %}
            {% for post in posts %}
            <div class="post">
                <h2>{{ post.nombre }}</h2>
                <p>{{ post.contenido }}</p>
                <p class="date">{{ post.fecha|date:"d M Y" }}</p>
                {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" alt="Imagen de {{ post.nombre }}">
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>No hay posts disponibles.</p>
        {% endif %}
    </div>
</body>
</html>
